<% if (page.posts.length > 0) { %>
<div id="recent-posts">
  <h1>Recent Posts</h1>
  <% page.posts.sort('date', -1).limit(10).each(post => { %>
  <div class="recent-post-item">


    <div class="recent-post-left">
        <div class="card" style="--active-color: #e0f2fe;height: 160px;width: 230px;border-radius: 10px;border: none;"">
          <pixel-canvas data-gap="10" data-speed="25" data-colors="#e0f2fe, #7dd3fc, #0ea5e9" style="height: 160px;width: 230px;"></pixel-canvas>
        </div>
    </div>

    <div class="recent-post-right">

      <a class="recent-post-title" href="<%=url_for(post.path)%>"><%=post.title%></a>
      <time class="recent-post-time" datetime="<%=post.date.toJSON()%>">
        <%=date(post.date)%>
      </time>

      <div class="article-digest">
        <%- post.more.replace(/<\/?.+?\/?>/g, "").substring(0, 300) %>
        ...
      </div>

    </div>

  </div>
  <% }); %>
</div>
<% } %>